@font-face {
    font-family: "thewitcher-medium";
    src: url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("woff"),
    url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("opentype"),
    url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("truetype");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "thewitcher-medium", thewitcher;
}
img {
    max-width: 100%;
}
/*backgorund colors*/
header {
    background-image: url("../img/hgradient.png");
    background-size: cover;
    background-attachment: fixed;
}

footer, main {
    background-image: linear-gradient(-150deg,
    rgb(89, 241, 167) 25%,
    rgb(60, 167, 248) 50%,
    rgb(123, 24, 236) 75%,
    rgb(168, 12, 207) 100%);
    background-size: auto;
    background-attachment: fixed;
}

body, aside, section, #page {
    background-image: linear-gradient(30deg,
    rgb(89, 241, 167) 25%,
    rgb(60, 167, 248) 50%,
    rgb(123, 24, 236) 75%,
    rgb(168, 12, 207) 100%);
    background-size: auto;
    background-attachment: fixed;
}

.font35{
    font-size: 35px;
}
/*paddings and margins*/
header, main, footer, section, aside {
    padding: 8px;
    margin: 5px;
}

ul, ol {
    padding: 5px;
}

/*header*/
#logo {
    text-align: left;
    padding: 10px;
}

#logo img {
    width: 200px;
}

#toggle_menu {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#toggle_menu img {
    margin-left: 10px;
    width: 35px;
}

#metaNavi, ul {
    display: none;
}

#mainNavi li {
    display: block;
    list-style-type: none;
    margin-bottom: 10px;
    border-bottom: solid black 1px ;
}

#mainNavi.open ul {
    display: block;
}

.close_menu {
    display: none;
}

.open_menu {
    display: inline;
}

#mainNavi {
    background-image: linear-gradient(-90deg,
    rgb(89, 241, 167) 25%,
    rgb(60, 167, 248) 50%,
    rgb(123, 24, 236) 75%,
    rgb(168, 12, 207) 100%);
}


#mainNavi a:link {
    padding: 10px;
    display: block;
    transition: 1.0s;
    font-size: 35px;

}

#mainNavi a:hover, a:active {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

/*set links*/
a:link {
    color: #000000;
    text-decoration: none;
}

a:visited, a:active {
    text-decoration: none;
    color: #000000
}

/*set  for tablet and desktop*/
@media screen and (min-width: 768px) {
    #metaNavi {
        display: block;
        float: right;
        padding: 5px;
        background: rgb(123, 24, 236);
        border-radius: 0 0 10px 10px;
    }
    #metaNavi a:link {
        padding: 5px;
        transition: 1.0s;
    }

    #metaNavi a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .content_max_width {
        max-width: 1200px;
        margin: auto;
    }

    #mainNavi li {
        display: inline-block;
        margin: 3px 10px 3px 0px;
        border: none;
    }

    #mainNavi ul {
        display: block;
    }

    #mainNavi a:link {
        text-align: center;
        font-size: 35px;
        display: inline-block;
        padding: 15px;
        transition: 1.0s;
    }

    #mainNavi a:hover {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1.15);

    }

    #toggle_menu {
        display: none;
    }
}